{% extends 'bootstrap/base.html' %}

{% block title %}
  {% if title %}{{ title }} - Microblog{% else %}Welcome to Microblog{% endif %}
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-default">
    <div>
      Microblog:
      <a href="{{ url_for('main.index') }}">Home</a>
      <a href="{{ url_for('main.explore') }}">Explore</a>
      {% if current_user.is_anonymous %}
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.register') }}">Click to Register!</a>
      {% else %}
        <a href="{{ url_for('main.profile', user_id=current_user.id) }}">Profile</a>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
      {% endif %}
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {# содержимое приложения которое должно быть предоставлено в блоке app_content #}
    {% block app_content %}{% endblock %}
  </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
